Repository TrigenSoftware/flexis-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:js, trigen-scripts lint:ts

travis ci config fix
  .travis.yml
Due: none

v1.0.2-beta
  package.json
  src/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

storyshots mod
  package.json
  test/storyshots.spec.ts
  yarn.lock
Due: none

storyshots mod
  test/storyshots.spec.ts
Due: none

upd snapshots
  .travis.yml
Due: none

upd snapshots
  .travis.yml
  test/__image_snapshots__/Badge__with-container-snap.png
Due: none

v1.0.3
  package.json
  src/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

mod types
  src/helpers/subscribeEvent.ts
Due: trigen-scripts lint:ts

docs
  docs/main.019487b82ea332e3b1d0.bundle.js
  docs/main.10586e0cc2a807a9bf01.bundle.js
  docs/main.10586e0cc2a807a9bf01.bundle.js.map
  docs/main.85bae95ead17a9c61ff2.css
  docs/runtime~main.10586e0cc2a807a9bf01.bundle.js
  docs/runtime~main.10586e0cc2a807a9bf01.bundle.js.map
  docs/vendors~main.10586e0cc2a807a9bf01.bundle.js
  docs/vendors~main.10586e0cc2a807a9bf01.bundle.js.map
  docs/vendors~main.3f8281718e2fa323e9f3.css
  docs/vendors~main.7e05c876f4965ea0e8e8.bundle.js
Due: none

modal wrapContent
  package.json
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
  yarn.lock
Due: trigen-scripts lint:ts

fix modal; update snapshots
  .travis.yml
  package.json
  src/components/Modal/Modal.tsx
  yarn.lock
Due: trigen-scripts lint:ts

snapshots
  .travis.yml
  test/__image_snapshots__/Modal__with-content-wrapper-snap.png
Due: none

dep fix
  yarn.lock
Due: none

add Offline component
  src/components/Offline/Offline.tsx
  src/components/Offline/index.ts
Due: trigen-scripts lint:ts

fix import order
  src/components/Offline/Offline.tsx
Due: trigen-scripts lint:ts

add Offline component (#85)
  src/components/Offline/Offline.tsx
  src/components/Offline/index.ts
Due: trigen-scripts lint:ts

add BurgerButton component
  src/components/BurgerButton/BurgerButton.st.css
  src/components/BurgerButton/BurgerButton.stories.tsx
  src/components/BurgerButton/BurgerButton.tsx
  src/components/BurgerButton/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove font-size
  src/components/BurgerButton/BurgerButton.st.css
Due: trigen-scripts lint:styles

fix style
  src/components/BurgerButton/BurgerButton.st.css
  src/components/BurgerButton/BurgerButton.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

travis yml fix
  .travis.yml
Due: none

es build fix; add babel build
  .babelrc
  scripts/buildPackage.sh
Due: none

deps upd
  package.json
  src/stylable/.eslintrc
  src/stylable/colors.js
  src/stylable/rel.js
  yarn.lock
Due: trigen-scripts lint:js

deps upgrade
  package.json
  src/components/Dropdown/Dropdown.tsx
  src/components/Expand/Expand.tsx
  src/helpers/stories/info.ts
  src/helpers/stories/storiesOf.ts
  yarn.lock
Due: trigen-scripts lint:ts

jest timeout
  test/storyshots.spec.ts
Due: none

deps upd
  package.json
  yarn.lock
Due: none

deps upd
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: none

storybook webpack fix
  .storybook/webpack.config.js
  tsconfig.json
Due: none

deps upd
  package.json
  scripts/buildPackage.sh
  yarn.lock
Due: none

v1.2.0-beta
  package.json
Due: none

SetImmediate decorator
  src/helpers/SetImmediate.ts
Due: trigen-scripts lint:ts

f k
  src/helpers/Bind.ts
  src/helpers/SetImmediate.ts
Due: trigen-scripts lint:ts

SetImmediate decorator (#173)
  src/helpers/Bind.ts
  src/helpers/SetImmediate.ts
Due: trigen-scripts lint:ts

generate snapshots
  .travis.yml
Due: none

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:js: any of: src/**/*.{js,jsx}
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
