Repository TrigenSoftware/flexis-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:js, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{js,jsx}": [
		"trigen-scripts lint:js",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

v0.18.5-alpha
  src/components/ImageSelect/ImageSelect.tsx
Due: trigen-scripts lint:ts

v0.18.6-alpha
  package.json
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: trigen-scripts lint:ts

v0.18.7-alpha
  package.json
  src/components/FormGroup/FormGroup.st.css
Due: trigen-scripts lint:styles

mjs and js
  .babelrc
  package.json
  scripts/buildPackage.sh
Due: none

ssr fix
  package.json
  src/helpers/ariaHide.ts
  src/helpers/subscribeEvent.ts
Due: trigen-scripts lint:ts

es.js
  package.json
  scripts/buildPackage.sh
Due: none

fix test
  package.json
  tsconfig.json
  yarn.lock
Due: none

pkg fix
  package.json
Due: none

cs fix
  jest.config.json
Due: none

storyshots mod
  test/__image_snapshots__/Dropdown__with-fixed-block-snap.png
  test/__image_snapshots__/Dropdown__with-scroll-snap.png
  test/__image_snapshots__/ScrollArea__with-table-snap.png
  test/__image_snapshots__/Tooltip__with-fixed-block-snap.png
  test/__image_snapshots__/Tooltip__with-scroll-snap.png
  test/storyshots.spec.ts
Due: none

rm containers dir
  containers/docker-compose.yml
  containers/testStoryshots.sh
  containers/updateStoryshots.sh
Due: none

stylable dep upd
  package.json
  yarn.lock
Due: none

ts code fix
  src/components/Table/TableCell.tsx
Due: trigen-scripts lint:ts

ts fix
  src/components/Table/TableCell.tsx
Due: trigen-scripts lint:ts

depds upd
  package.json
  yarn.lock
Due: none

stylelint dis
  src/components/Expand/Expand.st.css
Due: trigen-scripts lint:styles

dep upd
  package.json
  yarn.lock
Due: none

dep upd
  src/components/StylableTransition/StylableTransition.tsx
Due: trigen-scripts lint:ts

ver
  package.json
Due: none

deps upd
  package.json
  yarn.lock
Due: none

beta
  package.json
Due: none

class names fix
  src/components/Dropdown/Dropdown.tsx
  src/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

ver bump
  package.json
Due: none

2nd try
  .travis.yml
  package.json
Due: none

meh
  test/storyshots.spec.ts
Due: none

meh2
  test/storyshots.spec.ts
Due: none

meh99
  test/storyshots.spec.ts
Due: none

updated
  .travis.yml
  test/storyshots.spec.ts
Due: none
