Repository TrigenSoftware/flexis-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, tslint -p . -t stylish

.lintstagedrc:

{
	"src/**/*.css": ["stylelint", "git add"],
	"src/**/*.{ts,tsx}": ["tslint -p . -t stylish", "git add"]
}

Dropdown: blockScroll prop
  TODO.md
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
Due: tslint -p . -t stylish

CustomSelect and CustomFlatSelect
  src/components/CustomFlatSelect/CustomFlatSelect.st.css
  src/components/CustomFlatSelect/CustomFlatSelect.stories.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOptionFace.tsx
  src/components/CustomFlatSelect/index.ts
  src/components/CustomSelect/CustomSelect.st.css
  src/components/CustomSelect/CustomSelect.stories.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/CustomSelect/CustomSelectFace.tsx
  src/components/CustomSelect/CustomSelectOption.tsx
  src/components/CustomSelect/CustomSelectOptionFace.tsx
  src/components/ToggleSelect/ToggleSelect.stories.tsx
  src/components/ToggleSelect/index.ts
Due: stylelint, tslint -p . -t stylish

v0.8.0
  package.json
Due: none

Dropdown mod
  package.json
  src/components/Dropdown/Dropdown.tsx
Due: tslint -p . -t stylish

StylableTransition mod; Dropdown with transition
  package.json
  src/components/Dropdown/Dropdown.st.css
  src/components/Dropdown/Dropdown.tsx
  src/components/Expand/Expand.tsx
  src/components/Modal/Modal.st.css
  src/components/Modal/Modal.tsx
  src/components/StylableTransition/StylableTransition.tsx
Due: stylelint, tslint -p . -t stylish

modal and dropdown appear fixes
  package.json
  src/components/Dropdown/Dropdown.tsx
  src/components/Modal/Modal.tsx
Due: tslint -p . -t stylish

trigen scripts upd
  package.json
  yarn.lock
Due: none

exportable stories
  .storybook/config.js
  .storybook/webpack.config.js
  src/components/Badge/Badge.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/ConfirmModal/ConfirmModal.stories.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.stories.tsx
  src/components/CustomSelect/CustomSelect.stories.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Expand/Expand.stories.tsx
  src/components/FileDrop/FileDrop.stories.tsx
  src/components/FileSelect/FileSelect.stories.tsx
  src/components/FormGroup/FormGroup.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Link/Link.stories.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Paginator/Paginator.stories.tsx
  src/components/Radio/Radio.stories.tsx
  src/components/ScrollArea/ScrollArea.stories.tsx
  src/components/Select/Select.stories.tsx
  src/components/Switch/Switch.stories.tsx
  src/components/Table/Table.stories.tsx
  src/components/Textarea/Textarea.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  src/helpers/stories.ts
Due: tslint -p . -t stylish

v0.10.0
  package.json
Due: none

custom selects mods
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.stories.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOptionFace.tsx
  src/components/CustomSelect/CustomSelect.stories.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/CustomSelect/CustomSelectFace.tsx
Due: tslint -p . -t stylish

custom select passed props mods
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOptionFace.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/CustomSelect/CustomSelectFace.tsx
Due: tslint -p . -t stylish

v0.11.0-alpha
  .storybook/config.js
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/SROnly/SROnly.st.css
  src/components/SROnly/SROnly.stories.tsx
  src/components/SROnly/SROnly.tsx
  src/components/SROnly/index.ts
  src/components/VisuallyHidden/index.ts
  yarn.lock
Due: stylelint, tslint -p . -t stylish

PropTypes fix
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/Menu/Menu.tsx
  src/components/Select/Select.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableFoot.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableRow.tsx
Due: tslint -p . -t stylish

rm option face
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.st.css
  src/components/CustomFlatSelect/CustomFlatSelect.stories.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOptionFace.tsx
  src/components/CustomSelect/CustomSelect.stories.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/CustomSelect/CustomSelectOptionFace.tsx
Due: stylelint, tslint -p . -t stylish

button with icon fix
  TODO.md
  package.json
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
Due: tslint -p . -t stylish

link styles fix
  package.json
  src/components/Link/Link.st.css
Due: stylelint

link icon only fix
  package.json
  src/components/Link/Link.stories.tsx
  src/components/Link/Link.tsx
Due: tslint -p . -t stylish

Dropdown outside click mod, focus mod; Listener -> Bind; blockScroll mod
  TODO.md
  src/components/Checkbox/Checkbox.tsx
  src/components/ConfirmModal/ConfirmModal.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
  src/components/Expand/Expand.tsx
  src/components/FileDrop/FileDrop.tsx
  src/components/FileSelect/FileSelect.tsx
  src/components/Input/Input.tsx
  src/components/Modal/Modal.tsx
  src/components/Radio/Radio.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Select/Select.tsx
  src/components/StylableTransition/StylableTransition.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableCell.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/common/throttleFocus.ts
  src/helpers/Bind.ts
  src/helpers/ariaHide.ts
  src/helpers/blockScroll.ts
  src/helpers/index.ts
  src/helpers/subscribeEvent.ts
Due: tslint -p . -t stylish

Children.only
  src/components/FormGroup/FormGroup.tsx
  src/components/SROnly/SROnly.tsx
Due: tslint -p . -t stylish

stories helpers
  TODO.md
  src/helpers/stories/index.ts
  src/helpers/stories/info.ts
  src/helpers/stories/storiesOf.ts
Due: tslint -p . -t stylish

deps upd
  TODO.md
  package.json
  yarn.lock
Due: none

getHtmlProps -> omit
  src/components/Badge/Badge.tsx
  src/components/Badge/BadgeContainer/BadgeContainer.tsx
  src/components/Button/Button.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
  src/components/Expand/Expand.tsx
  src/components/Expand/ExpandContent.tsx
  src/components/Expand/ExpandTitle.tsx
  src/components/FileDrop/FileDrop.tsx
  src/components/FileSelect/FileSelect.tsx
  src/components/FormGroup/FormGroup.tsx
  src/components/Input/Input.tsx
  src/components/Link/Link.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemSeparator.tsx
  src/components/Modal/Modal.tsx
  src/components/Paginator/Paginator.tsx
  src/components/Radio/Radio.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Select/Select.tsx
  src/components/Select/SelectOption.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableCell.tsx
  src/components/Table/TableFoot.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableRow.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
  src/helpers/getHtmlProps.ts
  src/helpers/index.ts
  src/helpers/omit.ts
Due: tslint -p . -t stylish

props cleanup
  TODO.md
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.stories.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
  src/components/Expand/Expand.tsx
  src/components/FileDrop/FileDrop.tsx
  src/components/FileSelect/FileSelect.st.css
  src/components/FileSelect/FileSelect.stories.tsx
  src/components/FileSelect/FileSelect.tsx
  src/components/Input/Input.tsx
  src/components/Modal/Modal.tsx
  src/components/Paginator/Paginator.tsx
  src/components/Radio/Radio.stories.tsx
  src/components/Radio/Radio.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Select/Select.tsx
  src/components/Select/SelectOption.tsx
  src/components/StylableTransition/StylableTransition.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableCell.tsx
  src/components/Textarea/Textarea.tsx
  yarn.lock
Due: stylelint, tslint -p . -t stylish

final changes
  TODO.md
  src/components/CustomSelect/CustomSelect.tsx
  src/components/FileSelect/FileSelect.tsx
Due: tslint -p . -t stylish

changes
  src/components/Paginator/Paginator.tsx
  src/components/StylableTransition/StylableTransition.tsx
  src/components/Switch/Switch.tsx
Due: tslint -p . -t stylish

v0.13.0-alpha
  package.json
Due: none

primitive types; rm useless prop types; component cleanup from useless wrappers
  TODO.md
  src/components/Checkbox/Checkbox.st.css
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Expand/ExpandTitle.tsx
  src/components/FileSelect/FileSelect.tsx
  src/components/FormGroup/FormGroup.st.css
  src/components/FormGroup/FormGroup.stories.tsx
  src/components/FormGroup/FormGroup.tsx
  src/components/Input/Input.st.css
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Paginator/Paginator.tsx
  src/components/Radio/Radio.st.css
  src/components/Radio/Radio.stories.tsx
  src/components/Radio/Radio.tsx
  src/components/Select/Select.st.css
  src/components/Select/Select.stories.tsx
  src/components/Select/Select.tsx
  src/components/Select/SelectOption.tsx
  src/components/Select/mixins.st.css
  src/components/Switch/Switch.st.css
  src/components/Switch/Switch.stories.tsx
  src/components/Switch/Switch.tsx
  src/components/Textarea/Textarea.stories.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/common/types.ts
Due: stylelint, tslint -p . -t stylish

primitive types; rm useless prop types; component cleanup from useless wrappers
  src/components/Select/Select.tsx
Due: tslint -p . -t stylish

common types
  TODO.md
  src/components/Badge/Badge.stories.tsx
  src/components/Badge/BadgeContainer/BadgeContainer.tsx
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Expand/Expand.tsx
  src/components/Input/Input.tsx
  src/components/Link/Link.stories.tsx
  src/components/Link/Link.tsx
  src/components/Radio/Radio.tsx
  src/components/Select/Select.tsx
  src/components/Select/SelectOption.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableCell.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/common/types.ts
  src/helpers/stories/info.ts
Due: tslint -p . -t stylish

createComponent script mod; rm null default prop values; ImageSelect; FormGroup mods
  TODO.md
  scripts/createComponent.sh
  src/components/Badge/Badge.tsx
  src/components/Button/Button.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
  src/components/Expand/Expand.tsx
  src/components/Expand/ExpandContent.tsx
  src/components/Expand/ExpandTitle.tsx
  src/components/FileDrop/FileDrop.tsx
  src/components/FileSelect/FileSelect.st.css
  src/components/FileSelect/FileSelect.tsx
  src/components/FormGroup/FormGroup.st.css
  src/components/FormGroup/FormGroup.stories.tsx
  src/components/FormGroup/FormGroup.tsx
  src/components/Input/Input.tsx
  src/components/Link/Link.tsx
  src/components/Menu/MenuItemSeparator.tsx
  src/components/Modal/Modal.tsx
  src/components/Paginator/Paginator.tsx
  src/components/Radio/Radio.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/Select/Select.tsx
  src/components/StylableTransition/StylableTransition.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableCell.tsx
  src/components/Textarea/Textarea.tsx
  src/components/Tooltip/Tooltip.tsx
Due: stylelint, tslint -p . -t stylish

createComponent script mod; rm null default prop values; ImageSelect; FormGroup mods
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
  src/components/ImageSelect/index.ts
Due: stylelint, tslint -p . -t stylish

Pure vs Regular
  TODO.md
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish
