Repository TrigenSoftware/flexis-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, tslint -p . -t stylish

Pure vs Regular
  scripts/createComponent.sh
Due: none

ver dump
  package.json
Due: none

stories fixes; cursor mods; ImageSelect states
  package.json
  src/components/Button/Button.st.css
  src/components/Checkbox/Checkbox.st.css
  src/components/Expand/Expand.st.css
  src/components/FileSelect/FileSelect.st.css
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
  src/components/Modal/Modal.st.css
  src/components/Paginator/Paginator.st.css
  src/components/Radio/Radio.st.css
  src/components/Select/Select.st.css
  src/components/Switch/Switch.st.css
  src/helpers/stories/info.ts
Due: stylelint, tslint -p . -t stylish

FileSelect styles fix
  package.json
  src/components/FileSelect/FileSelect.st.css
Due: stylelint

FormGroup icon states
  package.json
  src/components/FormGroup/FormGroup.st.css
  src/components/FormGroup/FormGroup.tsx
Due: stylelint, tslint -p . -t stylish

FormGroup icon states
  src/components/FormGroup/FormGroup.tsx
Due: tslint -p . -t stylish

FormGroup icon states
  package.json
  src/components/FormGroup/FormGroup.tsx
Due: tslint -p . -t stylish

rm useless var
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

FileSelect and ImageSelect a11y mods and fixes
  package.json
  src/components/CustomFlatSelect/CustomFlatSelectOption.tsx
  src/components/FileSelect/FileSelect.stories.tsx
  src/components/FileSelect/FileSelect.tsx
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
  src/components/Table/TableCell.tsx
  src/components/common/isKeyboardClick.ts
Due: stylelint, tslint -p . -t stylish

FileSelect and ImageSelect a11y mods and fixes
  src/components/ImageSelect/ImageSelect.st.css
Due: stylelint

ImageSelect states and stories
  TODO.md
  package.json
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: stylelint, tslint -p . -t stylish

ImageSelect name fix
  package.json
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

FormGroup: flex prop and stylable api docs fix
  TODO.md
  package.json
  src/components/FormGroup/FormGroup.st.css
  src/components/FormGroup/FormGroup.stories.tsx
  src/components/FormGroup/FormGroup.tsx
Due: stylelint, tslint -p . -t stylish

FormGroup: id passing mod
  package.json
  src/components/FormGroup/FormGroup.tsx
Due: tslint -p . -t stylish

trigen-scripts dev tool
  .babelrc
  .eslintrc
  .gitignore
  .lintstagedrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  .travis.yml
  .trigenscriptsrc
  .yo-rc.json
  CHANGELOG.md
  LICENSE
  README.md
  package.json
  scripts/buildPackage.sh
  tsconfig.json
  yarn.lock
Due: none

trigen-scripts dev tool
  .babelrc
  .trigenscriptsrc
  jest.config.json
  package.json
  src/helpers/textTruncate.spec.ts
  src/helpers/textTruncate.ts
  yarn.lock
Due: tslint -p . -t stylish

deps upd
  package.json
  yarn.lock
Due: none

test script mod
  package.json
Due: none

storybook fix
  package.json
  yarn.lock
Due: none

v0.15.0-alpha
  package.json
Due: none

dev deps upd
  yarn.lock
Due: none

dev deps upd
  .trigenscriptsrc
  package.json
Due: none

stylable helpers
  .babelrc
  package.json
  src/stylable/colors.js
  src/stylable/rel.js
Due: none

types fix: ReactElement -> ReactNode
  package.json
  src/components/CustomFlatSelect/CustomFlatSelect.tsx
  src/components/Menu/Menu.tsx
  src/components/Select/Select.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableFoot.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableRow.tsx
Due: tslint -p . -t stylish

formgroup fix
  package.json
  src/components/FormGroup/FormGroup.tsx
Due: tslint -p . -t stylish

Throttle, Debounce with Bind; hideOnClick Dropdown prop
  package.json
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
  src/helpers/Debounce.ts
  src/helpers/Throttle.ts
Due: tslint -p . -t stylish

bug fixes
  package.json
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/DropdownContent.tsx
Due: tslint -p . -t stylish

button icon container fix
  package.json
  src/components/Button/Button.st.css
Due: stylelint

link icon container fix
  package.json
  src/components/Link/Link.st.css
Due: stylelint

reset button
  src/components/FileSelect/FileSelect.tsx
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: stylelint, tslint -p . -t stylish

reset button
  src/components/FileSelect/FileSelect.tsx
Due: tslint -p . -t stylish

v0.18.0-alpha
  package.json
Due: none

v0.18.1-alpha
  package.json
  src/components/ImageSelect/ImageSelect.st.css
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: stylelint, tslint -p . -t stylish

v0.18.2-alpha
  package.json
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

v0.18.3-alpha
  package.json
  src/components/ImageSelect/ImageSelect.stories.tsx
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

v0.18.4-alpha
  package.json
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

v0.18.5-alpha
  package.json
  src/components/ImageSelect/ImageSelect.tsx
Due: tslint -p . -t stylish

Path conditions:
  stylelint: any of: src/**/*.css
  tslint -p . -t stylish: any of: src/**/*.{ts,tsx}
