Repository TrigenSoftware/flexis-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, tslint -p . -t stylish

repo url fix
  package.json
Due: none

generateDocs script -> build:docs
  package.json
Due: none

little fixes
  .storybook/webpack.config.js
  scripts/buildPackage.sh
Due: none

editorcinfig mod, travis ci lts node
  .editorconfig
  .travis.yml
Due: none

storybook webpack config fix
  .storybook/webpack.config.js
  package.json
Due: none

fix working with children
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Select/Select.tsx
  src/components/ToggleSelect/ToggleSelect.tsx
Due: tslint -p . -t stylish

add check for falsy and fix indents
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Select/Select.tsx
  src/components/ToggleSelect/ToggleSelect.tsx
Due: tslint -p . -t stylish

add check for falsy Select component
  src/components/Select/Select.tsx
Due: tslint -p . -t stylish

fix check for null in Select and fix indents
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Select/Select.tsx
Due: tslint -p . -t stylish

fix indents and null check
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Select/Select.tsx
  src/components/ToggleSelect/ToggleSelect.tsx
Due: tslint -p . -t stylish

fix indents proptypes etc
  src/components/Select/Select.tsx
Due: tslint -p . -t stylish

final fixes
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Select/Select.tsx
Due: tslint -p . -t stylish

codestyle was moved to wiki
  CODESTYLE.md
Due: none

not working
  .postcssrc.js
  package.json
  yarn.lock
Due: none

v0.3.0-alpha
  package.json
  scripts/buildPackage.sh
  src/components/Button/Button.tsx
  src/components/Link/Link.tsx
Due: tslint -p . -t stylish

trigen scripts
  .storybook/addons.js
  .storybook/config.js
  .storybook/injectTestIcon.js
  .storybook/webpack.config.js
  package.json
  scripts/generateDocs.sh
  yarn.lock
Due: none

v0.4.0
  package.json
Due: none

v0.5.0
  TODO.md
  package.json
  src/components/Badge/Badge.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/ConfirmModal/ConfirmModal.stories.tsx
  src/components/CustomSelect/CustomSelect.stories.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Expand/Expand.stories.tsx
  src/components/FileDrop/FileDrop.stories.tsx
  src/components/FileSelect/FileSelect.stories.tsx
  src/components/FormGroup/FormGroup.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Link/Link.stories.tsx
  src/components/Menu/Menu.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Paginator/Paginator.stories.tsx
  src/components/Radio/Radio.stories.tsx
  src/components/ScrollArea/ScrollArea.stories.tsx
  src/components/Select/Select.stories.tsx
  src/components/Switch/Switch.stories.tsx
  src/components/Table/Table.stories.tsx
  src/components/Textarea/Textarea.stories.tsx
  src/components/ToggleSelect/ToggleSelect.stories.tsx
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/VisuallyHidden/VisuallyHidden.stories.tsx
Due: tslint -p . -t stylish

colors helpers
  package.json
  src/helpers/color.js
  yarn.lock
Due: none

js scripts lint
  .lintstagedrc
  .trigenscriptsrc
Due: none

color -> colors
  package.json
  src/helpers/color.js
Due: none

scripts upd; fix core-js problem
  .babelrc
  package.json
  yarn.lock
Due: none

babel runtime
  package.json
Due: none

colors helpers fix
  package.json
Due: none

checkbox stories fix [ci skip]
  src/components/Checkbox/Checkbox.stories.tsx
Due: tslint -p . -t stylish

table order fix
  package.json
  src/components/Table/TableCell.tsx
Due: tslint -p . -t stylish

table th a11y mod
  package.json
  src/components/Table/TableCell.tsx
Due: tslint -p . -t stylish

table th a11y mod fix
  package.json
  src/components/Table/TableCell.tsx
Due: tslint -p . -t stylish

input icon align fix
  package.json
  src/components/Input/Input.st.css
  src/components/Input/Input.tsx
Due: stylelint, tslint -p . -t stylish

cs fix
  src/components/Button/Button.tsx
  src/components/ConfirmModal/ConfirmModal.tsx
  src/components/CustomSelect/CustomSelect.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Expand/Expand.tsx
  src/components/Link/Link.tsx
  src/components/Paginator/Paginator.tsx
  src/components/ScrollArea/ScrollArea.tsx
  src/components/StylableTransition/StylableTransition.tsx
  src/components/Table/TableCell.tsx
  src/components/ToggleSelect/ToggleSelect.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/common/setOverflowOffset.ts
  src/helpers/blockScroll.ts
Due: tslint -p . -t stylish

cs fix
  src/components/FileDrop/FileDrop.tsx
Due: tslint -p . -t stylish

modal stylable api fix
  package.json
  src/components/Modal/Modal.tsx
Due: tslint -p . -t stylish

ConfirmModal stories fix
  src/components/ConfirmModal/ConfirmModal.stories.tsx
Due: tslint -p . -t stylish

trigen scripts upd, Select component mod
  package.json
  src/components/Select/Select.st.css
  yarn.lock
Due: stylelint

trigen scripts upd, Select component mod
  package.json
  yarn.lock
Due: none

ConfirmModal stories name fix
  src/components/ConfirmModal/ConfirmModal.stories.tsx
Due: tslint -p . -t stylish

Badge label -> span for correct a11y
  TODO.md
  package.json
  src/components/Badge/Badge.tsx
Due: tslint -p . -t stylish

Path conditions:
  stylelint: any of: src/**/*.css
  tslint -p . -t stylish: any of: src/**/*.{ts,tsx}
